# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
bower_components
dist
dist-ssr
web_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Build tools
.grunt
.lock-wscript
build/Release
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Caches
.cache
.parcel-cache
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# Misc
.node_repl_history
*.tgz
.yarn-integrity
.npm
.eslintcache
.stylelintcache

# Environment variables
.env
.env.*.local

# Framework output
.next
.nuxt
out
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache

# VSCode testing
.vscode-test

# Yarn 2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
