@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente principal */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Estilos de scrollbar */
::-webkit-scrollbar {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

/* Inputs */

input {
  border: 1px solid #c9c9c9 !important;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  border-color: #01C38E !important;
  box-shadow: 0 0 0 2px #01C38E44;
}



@keyframes spin-multiple {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg); /* 3 vueltas */
  }
}

.rotate-on-load {
  animation: spin-multiple 1.8s ease-in-out;
}

.floating-icon {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.floating-icon:hover {
  transform: scale(1.04);     /* agranda levemente */
  filter: brightness(0.9);    /* oscurece apenas */
}


/* Estilo para el tooltip de Chart.js */
.chartjs-tooltip {
  transition: opacity 0.15s ease, width 0.15s ease, height 0.15s ease;
  white-space: nowrap;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: auto;
  height: auto;
}


.chartjs-tooltip .tooltip-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  border-radius: 2px;
}

/* Animacion cards */

.tarjeta-animada {
  animation: fadeSlideLeft 0.3s ease;
}

@keyframes fadeSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-12px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}